html {
background-color: #f64fd6;
}

body{
    background-color:#2e77f9;
}

main {
    background-color:#43d1bf;
}

header {

}

aside {

}

footer {

}

div {

}

#logo {
    width:100px;
}
